---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog Main Page"
---


<BaseLayout pageTitle={pageTitle}>
	<ul>
		<li><a href="/posts/post-1/">My 1st Blog Post</a></li>
		<li><a href="/posts/post-3/">My 3rd Blog Post</a></li>
		<li><a href="/posts/post-5/">My 5th Blog Post</a></li>
	</ul>

</BaseLayout>
