---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog Main Page"
---


<BaseLayout pageTitle={pageTitle}>
	<ul>
		<li><a href="/posts/post-1/">My 1st Blog Post</a></li>
		<li><a href="/posts/3-notes/">Current workshop notes</a></li>
		<li><a href="/posts/6-redcap-out/">Results of Little Red Riding Hood tests</a></li>
		<li><a href="/posts/7-project-jeff/">Notes on Project Jeff queries</a></li>
	</ul>

</BaseLayout>
