---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog Main Page"
---


<BaseLayout pageTitle={pageTitle}>
	<ul>
		<li><a href="/posts/2-rnn/">RNN notes</a></li>
		<li><a href="/posts/70-jeff-answers/">Answers to "Who is Jeff?" baseline question</a></li>
		<li><a href="/posts/63-notes/">Slightly older workshop notes</a></li>
		<li><a href="/posts/81-glossary/">Glossary 1</a></li>
		<li><a href="/posts/71-gpt3/">Notes and links on GPT3</a></li>
	</ul>

</BaseLayout>
