---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog Main Page"
---


<BaseLayout pageTitle={pageTitle}>
	<ul>
		<li><a href="/posts/3-notes/">Workshop notes</a></li>
		<li><a href="/posts/7-project-jeff/">Notes on Project Jeff queries</a></li>
		<li><a href="/posts/4-open-notes/">Replatforming to pure open-source</a></li>
		<li><a href="/posts/5-slide-outline/">Outline for MC slides</a></li>
	</ul>

</BaseLayout>
