---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog Main Page"
---


<BaseLayout pageTitle={pageTitle}>
	<ul>
		<li><a href="/posts/01-color-test/">Color Tests</a></li>
	</ul>

</BaseLayout>
